body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; 
}





.tabelacjen {
    color: white;
    font-size: 18px; /* Adjust font size for smaller screens */
    font-family: Roboto, Arial, sans-serif;
    margin: 20px auto;
    border-radius: 16px;
    border-collapse: collapse;
    width: 90%; /* Make table responsive */
    max-width: 600px;
}

.tabelacjen th {
    color: red;
}

.tabelacjen td,
th {
    border: 1px solid white;
    text-align: left;
    padding: 10px; 
}

.tabelacjen:hover {
    box-shadow: 1px 1px 30px red;
    transition: 0.3s;
}

ul {
    color: white;
    font-family: Roboto, Arial, sans-serif;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.svezj {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.svezj a {
    text-decoration: none;
    background-color: red;
    padding: 10px 20px; 
    border-radius: 8px;
    color: white;
    transition: all 0.3s ease;
}

.svezj a:hover {
    background-color: black;
    color: white;
    box-shadow: 1px 1px 10px red;
}

.modal {
    position: fixed; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6); 
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modalcontent {
    position: relative;
    background: white;
    width: 90%; 
    max-width: 500px;
    padding: 1em 2em;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modalcontent:hover {
    box-shadow: inset 1px 1px 5px black;
}

.modalclose {
    position: absolute;
    top: 10px;
    right: 15px;
    color: red;
    text-decoration: none;
    font-size: 36px;
}


@media (max-width: 768px) {


    .tabelacjen {
        font-size: 16px;
    }

    .svezj a {
        padding: 8px 16px; 
        font-size: 14px;
    }

    .modalcontent {
        padding: 1em;
    }

}

@media (max-width: 480px) {


    .tabelacjen td,
    th {
        padding: 8px;
    }

    .svezj a {
        padding: 6px 12px; 
        font-size: 12px;
    }

    .modalclose {
        font-size: 28px; 
    }
}


.onamaa {
    width: 100%;
    max-width: 500px;
    margin: 100px auto 0 auto;
    text-align: center;
    box-sizing: border-box;
    
}

@media (max-width: 768px) {
    .onamaa {
        width: 70%;
        margin: 50px auto 0 auto;
    }

    .h1loc{
        margin-top: 200px;
    }

    .locationtxt{
        margin-left:50px ;
    }
}

@media (max-width: 480px) {
    .onamaa {
        width: 80%;
        margin: 300px auto 0 auto;
    }

    .tabelacjen{
        margin-top: 150px;
        
    }
    .video{
        position: relative;
        width: 100vw;
    }
    .video video{
        width: 80vw;
        height: 100vw;
    }
}

.accordioncontainer {
    width: 70%;
    margin: 20px auto;

    border-radius: 8px;
    box-shadow: 1px 1px 15px red;

  }
  
  .accordion {
    background-color:  white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: background-color 0.3s;

  }
  
  .accordion:hover {
    background-color: black;
    color:red;    

  }
  
  .odgovor {
    padding: 0 18px;
    display: none;
    background-color: black;
    overflow: hidden;
    font-size: 16px;

  }

